@import '../../styles/variables.module.scss';

.buttonWrapper {
  position: fixed;
  bottom: 40px;
  right: 40px;
  width: 80px;
  height: 80px;
  background: none;
  background-color: rgb(255, 177, 0);
  border: none;
  border-radius: 50%;
  box-shadow: rgb(0 0 0 / 10%) 5px 5px 5px 0px;
  opacity: 0.9;
  cursor: pointer;

  .peanutImg {
    width: 30px;
    height: 30px;
  }
  .downloadText {
    color: white;
    font-size: 12px;
  }
}
