@import '../../styles/variables.module.scss';

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 868px;

  .contentContainer {
    width: 100%;
    text-align: center;
    .topTextWrapper {
      .titleText {
        font-size: $titleFontSize;
        font-weight: 700;
        line-height: 70px;
      }

      .descriptionText {
        margin-top: 50px;
        font-size: $descriptionFontSize;
        font-weight: 400;
        line-height: 40px;
      }
    }
    .overflowBox {
      // overflow: hidden;
      .InfiniteScrollWrapper {
        margin-top: 90px;
        display: flex;

        .scrollBookImages {
          width: 150px;
          height: 200px;
          margin-right: 50px;
        }
      }
    }
  }
}
.slider {
  overflow: hidden;
}

.nonSlideBox {
  display: flex;
  width: calc(200px * 16);
  // animation: slide 14s linear;
  margin-top: 90px;

  .scrollBookImages {
    width: 150px;
    margin-right: 50px;
  }
}

.slideBox {
  display: flex;
  width: calc(200px * 16);
  animation: slide 14s linear infinite;
  margin-top: 90px;

  .scrollBookImages {
    width: 150px;
    margin-right: 50px;
  }
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-200px * 8));
  }
}
