@import '../../styles/variables.module.scss';

.container {
  height: 703px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.overlay {
  width: inherit;
  height: inherit;
  position: absolute;
}

.overlayImg {
  @extend .overlay;
}

.overlayBlack {
  @extend .overlay;
  background-color: #000000;
  opacity: 0.7;
}

.contentWrapper {
  z-index: 1;
  display: flex;
  position: relative;
  justify-content: center;
  width: 1500px;
  height: inherit;
}

.arrowFlex {
  position: absolute;
  width: 100%;
  height: 703px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.arrowContainer {
  width: 32px;
  height: 32px;
  border: 2px solid $whiteColor;
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 5;
}

.arrowImg {
  height: 18px;
  position: relative;
}

.leftArrowImg {
  @extend .arrowImg;
  right: 1px;
}

.rightArrowImg {
  @extend .arrowImg;
  left: 1px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 159px;
  width: 51.5%;
  overflow: hidden;
}

.childImg {
  width: 85px;
  height: 85px;
  border: 15px solid $keyYellowColor;
  border-radius: 50%;
  position: absolute;
  z-index: 2;
}

.yellowLogo {
  height: 116.6px;
  position: absolute;
  transition: all 1s ease;
  transform-origin: right center;
  z-index: 1;
}

.logoFirst {
  @extend .yellowLogo;
  margin-right: 60px;
  transform: rotateZ(0deg);
}

.logoSecond {
  @extend .yellowLogo;
  margin-top: 37px;
  margin-right: 100px;
  transform: rotateZ(45deg);
}

.logoThird {
  @extend .yellowLogo;
  margin-top: 50px;
  margin-right: 172px;
  transform: rotateZ(90deg);
}

.logoFourth {
  margin-top: 37px;
  margin-right: 250px;
  @extend .yellowLogo;
  transform: rotateZ(135deg);
}

.logoFifth {
  @extend .yellowLogo;
  margin-right: 280px;
  transform: rotateZ(180deg);
}

@keyframes asd {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(-200px);
  }
  100% {
    transform: translateX(0px);
  }
}

.contentAll {
  display: flex;
  width: 250vw;
}

.contentText {
  color: $whiteColor;
  text-align: center;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  padding-top: 120px;
  width: 2200px;
}

.prevContent {
  @extend .contentText;
}

.nextContent {
  @extend .contentText;
}
.author {
  padding-top: 40px;
  font-style: normal;
  font-weight: normal;
  font-size: $verySamllFontSize;
  line-height: 28px;
  text-align: center;
  opacity: 0.7;
}

.review {
  margin-top: 50px;
  white-space: pre-wrap;
  font-style: normal;
  font-weight: normal;
  font-size: $smallFontSize;
  line-height: 32px;
}

.slideIndex {
  width: 100%;
  display: flex;
  align-self: flex-end;
  z-index: 2;
  position: absolute;
}

.yellowIndex {
  background-color: $keyYellowColor;
  transition: all 1s ease;
  height: 11px;
}

.yellowFirst {
  @extend .yellowIndex;
  width: 20%;
}
.yellowSecond {
  @extend .yellowIndex;
  width: 40%;
}
.yellowThird {
  @extend .yellowIndex;
  width: 60%;
}
.yellowFourth {
  @extend .yellowIndex;
  width: 80%;
}
.yellowFifth {
  @extend .yellowIndex;
  width: 100%;
}
