@import '../../styles/variables.module.scss';

.container {
  width: 100%;
  background-color: $keyYellowColor;
  height: 573px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  padding-top: 150px;
  margin-bottom: 30px;
  position: relative;
  opacity: 0;
}

.title {
  font-family: 'S-Core Dream';
  font-style: normal;
  font-weight: 300;
  font-size: 50px;
  line-height: 72px;
  color: $whiteColor;
  position: relative;
  opacity: 0;
}

.message {
  font-weight: 500;
  font-size: $descriptionFontSize;
  color: $whiteColor;
  white-space: pre-wrap;
  font-family: Noto Sans KR;
  font-style: normal;
  text-align: center;
  margin-top: 50px;
  line-height: 40px;
  position: relative;
  opacity: 0;
}

.textTransition {
  @extend .container;
  :first-child {
    transition: 1s;
  }
  :nth-child(2) {
    transition: 1.5s;
  }
  :last-child {
    transition: 2s;
  }
}

.logoTransform {
  @extend .logo;
  top: 100px;
  opacity: 1;
  transform: translateY(-100px);
}

.titleTransform {
  @extend .title;
  top: 110px;
  opacity: 1;
  transform: translateY(-110px);
}

.messageTransform {
  @extend .message;
  top: 120px;
  opacity: 1;
  transform: translateY(-120px);
}
