$keyYellowColor: #ffb100;
$darkGrayBgColor: #f9f9f9;
$fontColor: #333333;
$verySamllFontSize: 14px;
$smallFontSize: 16px;
$normalFontSize: 20px;
$descriptionFontSize: 24px;
$bigFontSize: 30px;
$titleFontSize: 50px;
$bigTitleFontSize: 60px;
$whiteColor: #ffffff;
$blackColor: #000000;
