@import '../../styles/variables.module.scss';
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 873px;

  .backgroundStripe {
    position: absolute;
    background: linear-gradient(#f2f2f2 2px, white 0);
    background-size: 100% 50px;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1000;
  }

  .contentWrapper {
    display: flex;
    width: 1138px;
    height: 548px;

    .leftTextsWrapper {
      margin-top: 128px;

      .titleText {
        font-size: $titleFontSize;
        font-weight: 700;
        line-height: 70px;
      }

      .descriptionText {
        margin-top: 50px;
        font-size: $descriptionFontSize;
        font-weight: 400;
        line-height: 40px;
      }
    }

    .MediaContentWrapper {
      margin-left: 110px;
      width: 722px;

      .tabletImg {
        width: 100%;
      }
    }
  }
}
