@import '../../styles/variables.module.scss';

.anyTimeContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 150px;
  .anyTimeWrapper {
    width: 1140px;
    text-align: center;
    h1 {
      font-size: $titleFontSize;
      font-weight: bold;
      line-height: 70px;
    }
    p {
      font-size: $descriptionFontSize;
      line-height: 40px;
      margin-top: 50px;
    }
  }
  .anyTimeImage {
    width: 1140px;
    height: 730px;
    margin-top: 100px;
  }
}
